<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SymmetricKeyCrypto -->
      <package
            uri="http://www.example.org/SymmetricKeyCrypto"
            class="SymmetricKeyCrypto.SymmetricKeyCryptoPackage"
            genModel="model/SymmetricKeyCrypto.genmodel"/>
   </extension>

</plugin>
